<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Stations by District</title>
</head>
<body>
    <h1>Bike Stations by District</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Show Graph</button>
    </form>

    {% if selected_district %}
        <h2>Graph for {{ selected_district }}</h2>
        <img src="data:image/png;base64,{{ image_base64 }}" alt="Your Chart">



    {% endif %}

</body>
</html>
